<md-toolbar color="primary">
    <md-icon id="toolbar-name-icon">http</md-icon>
    <span>Requests analyzer</span>
    <span class="fill-remaining-space"></span>
    <button md-button
        (click)="executeAnalysis()"
        mdTooltip="Execute analysis"
        mdTooltipPosition="below"
        *ngIf="!executingAnalysis">
        <md-icon>play_arrow</md-icon>
    </button>
    <button md-button
        mdTooltip="Save analysis"
        mdTooltipPosition="below"
        (click)="saveAnalysis()">
        <md-icon>archive</md-icon>
    </button>
</md-toolbar>
<div id="analyzer-component">
    <md-card>
        <md-card-content>
            <h2>Analysis editor</h2>
            <div id="analysis-params">
                <md-input-container>
                    <input mdInput
                        type="number"
                        placeholder="Query execution time (ms)"
                        [(ngModel)]="analysis.queryTime">
                </md-input-container>
                <md-input-container>
                    <input mdInput
                        type="number"
                        placeholder="Minimal simultaneous requests"
                        [(ngModel)]="analysis.rangeOfSimultaneousReqestsQueries.from">
                </md-input-container>
                <md-input-container>
                    <input mdInput
                        type="number"
                        placeholder="Minimal simultaneous requests"
                        [(ngModel)]="analysis.rangeOfSimultaneousReqestsQueries.to">
                </md-input-container>
                <md-input-container>
                    <input mdInput
                        type="number"
                        placeholder="Execution query step size"
                        [(ngModel)]="analysis.step">
                </md-input-container>
            </div>
            <div id="analysis-editor-header">
                <h3>Requests query</h3>
                <button md-mini-fab
                    mdTooltip="Add new request"
                    mdTooltipPosition="right"
                    (click)="addNewRequest()">
                    <md-icon>add</md-icon>
                </button>
            </div>
            <div id="analysis-editor">
                <div id="requests-query">
                    <md-list>
                        <md-list-item *ngFor="let request of analysis.requestsQuery"
                            (click)="currentRequest = request"
                            [ngClass]="{
                                      'query-item': true,
                                      'active': currentRequest === request
                                  }">
                            <md-icon md-list-icon>label</md-icon>
                            <h4 md-line
                                [ngSwitch]="request.type">
                            <span *ngSwitchCase="1">GET</span>
                            <span *ngSwitchCase="3">POST</span>
                        </h4>
                            <p md-line>{{ request.url }}</p>
                        </md-list-item>
                    </md-list>
                </div>
                <div id="request-edit"
                    *ngIf="currentRequest">
                    <h4>Edit request</h4>
                    <div>
                        <div>
                            <md-select placeholder="HTTP Method"
                                [(ngModel)]="currentRequest.type">
                                <md-option *ngFor="let method of httpMethods"
                                    [value]="method.value">
                                    {{ method.name }}
                                </md-option>
                            </md-select>
                        </div>
                        <div>
                            <md-input-container>
                                <input mdInput
                                    type="text"
                                    placeholder="URL"
                                    [(ngModel)]="currentRequest.url">
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <md-card *ngIf="executingAnalysis || (executedAnalysis && !executingAnalysis)">
        <md-card-content>
            <h2>Results</h2>
            <div id="analyzer-progress"
                *ngIf="executingAnalysis">
                <span>{{ requester.queryProgress * 100 | number:'1.0-0' }}%</span>
                <md-progress-bar class="analyzer-progress-bar"
                    [color]="primary"
                    [mode]="determinate"
                    [value]="requester.queryProgress * 100">
                </md-progress-bar>
            </div>
            <div id="analyzer-requests-chart"
                *ngIf="executedAnalysis && !executingAnalysis"
                [chartData]="requestsData"
                [chartOptions]="requestsDataOptions"
                chartType="AreaChart"
                google-chart></div>
            <div id="analyzer-delay-chart"
                *ngIf="executedAnalysis && !executingAnalysis"
                [chartData]="delayData"
                [chartOptions]="delayDataOptions"
                chartType="AreaChart"
                google-chart></div>
        </md-card-content>
    </md-card>
</div>
